@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, :after, :before {
  box-sizing: border-box;
  overflow: hidden;
}

.orgchart {
  background-color: rgb(109, 109, 109);
  height: 1200px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center
}

.employee-title {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500
}

.employee-children-icon {
  align-self: flex-end
}

.App {
  overflow: hidden;
  display: flex;
  height: 100vh;
  padding: 20px;
}

.InputSettings {
  width: 35%;
  height: 100%;
}

#react-org-chart {
  background-color: rgb(206, 206, 206);
  height:100vh;
  width: 100vw;
  overflow: hidden;
}

#icon {
  display: none;
}

@media only screen and (max-width: 750px) {

  .App {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .InputSettings {
    width: 100%;
  }
}