@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, :after, :before {
  box-sizing: border-box
}

.employee-title {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500
}

.employee-children-icon {
  align-self: flex-end
}

.App {
  overflow: hidden;
  display: flex;
  height: 100vh;
  padding: 20px;
}

.InputSettings {
  width: 35%;
  height: 100%;
}

.Tree {
  width: 65%;
}

@media only screen and (max-width: 750px) {
 
  .App {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .InputSettings {
    width: 100%;
  }
}