.InputSettings {
  background-color: rgb(247, 247, 247);
  width: 30%;
  border-radius: 20px;
  box-shadow: -3px 3px 3px 2px rgba(232,232,232,1);
  padding: 32px;
  border: 1px solid lightgray;
  height: 100%;
}