@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, :after, :before {
  box-sizing: border-box
}

.employee-title {
  font-size: 24px;
  padding: 2px;
  font-weight: 500
}

.App {
  overflow: hidden;
  display: flex;
  height: 100vh;
  padding: 20px;
}

.InputSetting {
  width: 50% !important;
  background-color: red
}